# -----------------------------------------------------
# Database configuration
# -----------------------------------------------------

POSTGRES_DB=auth_system
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

DB_URL=jdbc:postgresql://localhost:5432/auth_system
DB_USERNAME=postgres
DB_PASSWORD=postgres

# -----------------------------------------------------
# JWT configuration
# -----------------------------------------------------

JWT_SECRET_KEY=ReplaceWithYourOwnBase64SecretKey
JWT_EXPIRATION=3600000

# -----------------------------------------------------
# Server configuration
# -----------------------------------------------------

SERVER_PORT=8080