### IntelliJ IDEA ###
.idea/
*.iml

### VS Code ###
.vscode/

### Eclipse ###
.project
.classpath
.settings/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### Maven ###
target/

### Logs ###
*.log
logs/

### OS ###
.DS_Store
Thumbs.db

### Environment ###
.env
.env.*
!.env.example
.application-local.yml

### Spring Boot ###
spring.log

### Docker ###
docker-data/

### Misc ###
*.swp
*.swo